* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: monospace;
}

.main {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1fr 100px;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  grid-column: 1 / 4;
  grid-row-start: 1;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 1;
  grid-row-start: 2;
  background-color: #ff7c7c;
  padding: 1.5em;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  display: block;
  font-weight: bold;
  padding: 10px 0;
  text-decoration: none;
  color: black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 2;
  grid-row-start: 2;
  padding: 1.5em;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 3;
  grid-row-start: 2;
  background-color: #ff7c7c;
  padding: 1.5em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 4;
  grid-row-start: 3;
  background-color: lightblue;
}


@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  header {
    text-align: center;
    display: block;
  }

  nav, aside {
    background-color: purple;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  ul {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  section {
    display: block;
    flex-grow: 1;
    text-align: center;
  }

  aside {
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  footer {
    display: block;
    text-align: center;
  }

  #menuTitle {
    display: none;
  }
}
